#wrapper {
    display: grid;
    width: 100vw;
    min-height: 100vh;
    background-color: blanchedalmond;
    grid-template-areas: 
    'as hd'
    'as gem'
    'as m'
    'as if'
    'as gt';
    /* grid-template-columns: 40vw 30vw 30vw;
    grid-template-rows: 25vh 25vh 25vh 25vh; */
}

header {
    font-family: 'Montserrat', sans-serif;
    grid-area: hd;
    background: orange;
    justify-content: center;
    width: 70vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xxx-large;
    margin: 15px;
    margin-right: -10px;
}

aside {
    font-family: 'Noto Serif', serif;
    grid-area: as;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    gap: 20px;
    margin-right: 10px;
    font-size: larger;
    background: rgb(255, 208, 122);
    height: 138vh;
    width: 20vw
}

#menu {
    height: 7rem;
    width: auto;
    margin: 25px;
    margin-bottom: 0px;
}

#gs {
    height: 6rem;
    width: auto;
    margin: 10px;
}

#lis{
    margin: 15px;
}

#gem{
    font-family: 'Noto Serif', serif;
    font-size: xx-large;
    height: 100px;
}

#mat1 {
    font-family: 'Noto Serif', serif;
    grid-area: m;
    border: solid 1px rgb(0, 0, 0);
    height: 270px;
    width: 270px;
    background-color: white;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
}

#lasagna{
    height: 200px;
    display: block;
    margin-left: 10px;
    margin-right: auto;    
}

#t1{
    padding-right: 15px;
}

#t2{
    padding-right: 0px;
}

#mat2 {
    font-family: 'Noto Serif', serif;
    grid-area: m;
    border: solid 1px rgb(0, 0, 0);
    height: 270px;
    width: 270px;
    background-color: white;
    margin-left: 300px;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
}

#chips{
    height: 150px;
    display: block;
    margin-left: 10px;
    margin-top: 20px;
}

#t3{
    padding-top: 20px;
    margin-right: 35px;
}

#t4{
    padding-top: 20px;
    padding-left: 10;
}

#info{
    font-family: 'Noto Serif', serif;
    grid-area: if;
    height: 70px;
    width: 500px;
    font-size: x-large;
}

#gt{
    font-family: 'Noto Serif', serif;
    grid-area: gt;
    height: 70px;
    width: 500px;
    margin-top: 30px;
}

.linkcolor{
    color: black;
}




